/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  background-color: rgb(246 245 243);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

li {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* HEADER */

.page-header {
  background-color: rgb(255 255 255);
  width: 100%;
}

.title-header {
  font-family: "Nerko One", cursive;
  color: orange;
}

/* PREVIEW */

.card {
  display: flex;
  width: 100%;
}

.title-item {
  margin-left: 10px;
}

.card-item {
  background-color: white;
  padding: 20px;
}
.category {
  color: rgb(192 173 165);
}

.title-preview {
  color: rgb(78 57 105);
}

/* BUTTON */

.links {
  display: flex;
  justify-content: space-between;
  margin-right: 140px;
}

.link {
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  border-color: white;
}

.photo-banner {
  margin-right: 140px;
}

/* PRESENTATION */

.istruction {
  margin-right: 140px;
  margin-left: 10px;
}

.procedure {
  display: flex;
  margin-top: 50px;
}

/*FOOTER*/

.page-footer {
  background-color: rgb(117 99 155);
  display: flex;
  justify-content: space-between;
  color: white;
}

.nav-list {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.address-footer {
  padding: 20px;
}
